# Unity-generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/

# User-specific files
UserSettings/
.vscode/
.idea/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb

# OS-specific files
.DS_Store
Thumbs.db

# JetBrains Rider
.idea/
*.sln.iml

# Visual Studio Code
.vscode/
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json

# Unity Cache Server
UnityCache/

# Collaborate
.collabignore
